h1 {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}

body {
  background: #FFFF00;
}

th {
  text-align: left;
}

table1 {
 border-width:3px;
 border-style:solid;
 border-color:#287EC7;
}
